.task {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px #eee;
  border: 1px solid transparent;
  margin: 0 0 10px;
  padding: 10px;
}

.task:last-child {
  margin: 0;
}

.task.dragging {
  border: 1px dashed #ccc;
}

.priority {
  text-transform: capitalize;
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 3px;
  margin: 0 0 10px;
  display: inline-block;
  color: #fff;
  background: #90aafa;
}

.low {
  background: #90aafa;
}

.medium {
  background: #53c8d2;
}

.high {
  background: #da78a5;
}

.add {
  text-align: center;
  display: flex;
  justify-content: center;
}

.addBtn {
  background: none;
  border: none;
  color: #888;
  font-size: 14px;
  padding: 10px;
  display: flex;
}

.addBtn i {
  padding-top: 1px;
  padding-left: 5px;
  font-size: 15px;
}

.actions {
  color: #aaa;
  margin-top: 20px;
}

.actions span {
  margin-right: 10px;
}

.deleteButton {
  float: right;
}

.movingTask {
  height: 100px;
  background: repeating-linear-gradient(
  135deg,
  #ebedf3,
  #ebedf3 5px,
  #f6f8fc 5px,
  #f6f8fc 10px
  );
  border: 1px solid #ebedf3
}
