.header {
  display: flex;
  background: #9aa8fb;
  background: linear-gradient(to right, #9aa8fb 0%, #70b3f8 100%);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  background: #8690dc;
  margin: 0;
  font-weight: 500;
  font-size: 1em;
  padding: 15px 30px;
}

.logo a, .logo a:visited {
  color: #fff;
  text-decoration: none;
}

.logo a:focus {
  outline: none;
}

.logo a:hover {
  border-bottom: 1px dashed #fff;
}

.main {
  padding: 15px 30px;
}

.search {
  color: #fff;
  display: flex;
}

.search i {
  padding-top: 5px;
  padding-right: 10px;
}

.search input {
  background: none;
  border: none;
  color: #fff;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: #fff;
}
